.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
section{
  box-sizing: border-box;
  width: 20rem;
  height: 200px;
  background-color:yellowgreen;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);

}

.btn i{

color: green;
font-size: 30px;

  
}
.btn2{
  margin-left: 10px;
}
.btn2 i{
  font-size: 30px;
 color: red;
 
}
.allbtn{
position: absolute;
top: 0;
right: 0;

}
input[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;;
}
form{
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
        
text-align: center;
padding-bottom: 20px;;





}
.submit{
  padding: 10px 30px;
  background-color: greenyellow;
  border-radius: 100px;;
}